<template lang="pug">
action-bar
	.inner
		template(v-if="signedIn")
			a.handle {{ currentUser.handle }}
			span.spacer
			a.option(@click="test") Dashboard
			span.spacer
			a.option Settings
			span.spacer
			a.option(@click="signout") Logout
			img.avatar(src='/static/img/avatar_avitex.jpg')

		template(v-else)
			a.option(v-link="'signin'") Sign in
			span.spacer
			a.option(v-link="'register'") Register
</template>

<script>
import { signout } from 'store/actions'
import { signedIn, currentUser } from 'store/getters'

import { ModalService } from 'site/shared/modals'
import PostModal from 'site/forum/shared/post/modal'

export default {
	vuex: {
		getters: {
			signedIn,
			currentUser
		},
		actions: {
			signout
		}
	},
	methods: {
		test: function () {
			ModalService.open(new PostModal(), false)
		}
	}
}
</script>

<style lang="sass">
action-bar
	top: 0
	left: 0
	right: 0
	height: 40px
	line-height: 40px
	position: fixed
	font-size: 0
	background: #17161B
	text-align: center
	z-index: 9999
	box-shadow: inset 0 -4px 4px -4px #090909, 0 1px 0 0 rgba(255, 255, 255, 0.06)

	.inner
		display: inline-block
		height: 100%
		width: 100%
		max-width: 1170px
		text-align: right
		vertical-align: middle
		font-size: 11px
		padding: 0 18px

	.handle
		font-size: 14px
		color: #019fde

		&:hover
			color: #57C8F9
			cursor: pointer

	.option
		text-decoration: none
		text-transform: uppercase
		color: #3C81CE

		&:hover
			cursor: pointer
			color: #8591DA
			border-bottom: 1px dotted #3B4165

	.spacer::after
		color: #333757
		content: ' / '

	.avatar
		margin: 0 0 0 8px
		vertical-align: middle
		margin-top: -2px
		height: 26px
		border-radius: 20px
		box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.4)
</style>
