<template lang="pug">
footer-bar
	.copyright
		| Copyright 2012-2016 &copy;
		span.company WhitefoxLabs
	.creator
		| Website made with &#9829; by
		a.creator-link(href='//twitter.com/theavitex') @theavitex
</template>

<script>
export default {

}
</script>

<style lang="sass">
footer-bar
	flex: none
	width: 100%
	height: 50px
	display: flex

	background: rgba(20,15,25,0.7)
	background-image: url("~assets/images/footer-bg.png")
	background-position: center
	color: #386d83
	font-weight: 300
	font-size: 11px
	text-transform: uppercase
	box-shadow: inset 0 10px 10px -10px #070707, 0 -1px 0 0 rgba(255,255,255,0.06)

	line-height: 15px
	flex-direction: column
	justify-content: center
	align-items: center

	.creator
		font-size: 9px
		color: #494f7b

	.creator-link
		color: inherit
		text-decoration: none

	.creator-link:hover
		text-decoration: underline dotted

	.copyright
		color: inherit

</style>
