<template lang="pug">
head-nav
	.links
		a.link(v-link="'forums'") Forums
		a.link(v-link="'servers'") Servers
	a.logo(v-link="'/'")
	.links
		a.link(v-link="'support'") Support
		a.link(v-link="'/'") Join
</template>

<script>
export default {}
</script>

<style lang="sass" scoped>
head-nav
	flex: none
	padding-top: 10px
	padding-bottom: 10px
	display: flex
	width: 100%
	justify-content: center
	align-items: center

.links
	flex: 1
	width: 100%
	display: flex

.links:first-child
	justify-content: flex-end

.logo
	height: 75px
	width: 75px
	background: url("~assets/images/logo.svg")
	background-size: 75px 75px
	opacity: 0.8
	position: relative

.link
	letter-spacing: 3px
	color: #fff
	font-weight: 300
	text-transform: uppercase
	text-decoration: none
	font-size: 14px
	margin: 50px
	text-shadow: 0px 0px 20px #3292bd

.link:hover
	cursor: pointer
	font-weight: 400
	text-shadow: 0px 0px 20px #3292bd, 0px 0px 20px #3292bd

@media screen and (max-width: 740px)
	head-nav
		flex-direction: column

	.link
		margin: 10px 20px

	.links
		flex-direction: column
</style>
