<template lang="pug">
.forum-bar
		.inner
			.breadcrumbs
				.root
					a.link(v-link="{ path: '/forums' }") Forums

				.crumb(v-for="crumb in breadcrumbs")
					a.current(v-if="crumb.current") {{ crumb.title }}
					a.link(v-else v-link="{ name: 'forum', params: { category: crumb.id }}") {{ crumb.title }}
.content
	.forum-list
		.inner(v-if="fetched")
			button(@click="createCategory") Create Category
			button(@click="createThread") Create Thread
			span.empty(v-show="empty")
				span &#128557;
					em  Nothing here...
				a.back(v-link="{ name: 'forum', params: { category: backLink }}") back?

			.category(v-for="category in categories")
				a(v-link="{ name: 'forum', params: { category: category.id }}") {{category.title}}

			.thread(v-for="thread in threads")
				a(v-link="{ name: 'forum-thread', params: { thread: thread.id }}") {{thread.title}}
		.inner.loading.loading-spinner(v-else)

		forum-pagination(
			:pagination="pagination"
		)
</template>

<script>
import API from 'api'
import ForumPagination from './shared/pagination'

export default {
	components: {
		ForumPagination
	},
	data: function () {
		return {
			fetched: false,
			categories: [],
			threads: [],
			breadcrumbs: [],
			pagination: {}
		}
	},
	computed: {
		empty: function () {
			return this.categories.length === 0 && this.threads.length === 0
		},
		backLink: function () {
			let crumbs = this.breadcrumbs
			if (crumbs.length > 1) {
				return crumbs[crumbs.length - 2].id
			} else {
				return 0
			}
		}
	},
	route: {
		canReuse: false,
		activate: function () {
			this.fetchDirectory()
		}
	},
	methods: {
		fetchDirectory: function () {
			let params = {
				id: this.$route.params.category || 1
			}

			if (this.$route.params.page) {
				params.page = this.$route.params.page
			}

			API.Forums.Directories
			.get(params)
			.then(this.setDirectory)
		},
		setDirectory: function ({ data }) {
			let breadcrumbs = data._meta.breadcrumbs

			breadcrumbs.shift()

			if (breadcrumbs.length > 0) {
				breadcrumbs[breadcrumbs.length - 1].current = true
			}

			this.$set('pagination', data._pagination)
			this.$set('breadcrumbs', breadcrumbs)
			this.$set('threads', data.threads)
			this.$set('categories', data.categories)
			this.$set('fetched', true)
		},
		createCategory: function () {
			let categoryName = window.prompt('Category name')
			if (categoryName && categoryName.length > 0) {
				API.Forums.Categories.save({
					title: categoryName,
					author_id: 1
				})
			}
		},
		createThread: function () {
			console.log('thread')
		}
	}
}
</script>

<style lang="sass" scoped>

@keyframes rotate
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

.forum-list
	padding: 20px

	.inner
		background: white
		border-radius: 3px
		border: 1px solid #ececec
		border-bottom: 1px solid #dbdbdb

		&.loading
			height: 50px
			width: 100%
			display: flex
			justify-content: center
			align-items: center

	.empty
		color: #929292
		text-align: center
		display: block
		padding: 20px

		.back
			margin-left: 4px
			font-style: italic
			text-decoration: none

	.category, .thread
		border-bottom: 1px solid #ececec

		a
			font-size: 15px
			color: #746C88
			text-decoration: none

			padding: 0 10px
			line-height: 50px
			height: 50px

			&:before
				color: #746C88
				margin-left: 5px
				margin-right: 10px
				font-family: FontAwesome

	.thread
		background: #f6f7f8
		a:before
			content: '\f15c'

	.category
		a:before
			content: '\f02d'
</style>
