<template lang="pug">
site-forum
	router-view
</template>

<script>
export default {}
</script>

<style lang="sass">
site-forum
	overflow: hidden
	width: 100%
	min-height: 100%
	background: #f3f5f6
	background: #f8f8f8

	.forum-bar
		font-size: 15px
		height: 60px
		width: 100%
		background: #fff
		display: flex
		justify-content: center
		box-shadow: 0 0 20px 0 #eee

		.inner
			width: 100%
			height: 100%
			max-width: 1170px
			padding: 0 20px
			margin: 0 20px

		.root, .crumb
			display: inline-block

		.crumb::before
			color: #bbb
			padding: 0 8px
			content: '\203A'

		.breadcrumbs, .tools
			float: left
			height: 100%
			display: flex
			flex-direction: column

		.tools
			float: right
			margin-left: 10px
			button
				height: 40px
				flex: 1
				width: 100%
				margin: 5px 0

		.link
			color: #57C8F9
			text-decoration: none
			height: 13px
			line-height: 60px

			&:hover
				border-bottom: 1px dotted #57C8F9

		.current
			color: #888
			line-height: 60px
			display: inline-block


	.content
		height: 100%
		display: flex
		flex-direction: column
		align-items: center

	.content > *
		width: 100%
		max-width: 1170px
</style>
