<template lang="pug">
.forum-bar
		.inner
			.breadcrumbs
				.root
					a.link(v-link="{ path: '/forums' }") Forums

				.crumb(v-for="crumb in thread._meta.breadcrumbs")
					a.link(v-link="{ name: 'forum', params: { category: crumb.id }}") {{ crumb.title }}

				.crumb
					a.current {{ thread.title }}
.content
	.forum-thread(v-if="fetched")
		template(v-for="post in posts")
			forum-post(
				:post="post"
			)
	.forum-thread.loading.loading-spinner(v-else)

	forum-pagination(
		:pagination="pagination", name="forum-directory"
	)
</template>

<script>
import API from 'api'
import ForumPost from './shared/post'
import ForumPagination from './shared/pagination'

export default {
	components: {
		ForumPost,
		ForumPagination
	},

	data: function () {
		return {
			fetched: false,
			posts: [],
			thread: {
				_meta: {}
			},
			pagination: {}
		}
	},

	route: {
		canReuse: false,
		activate: function () {
			this.fetchThread()
			this.fetchPosts()
		}
	},

	methods: {
		fetchPosts: function () {
			let page = this.$route.params.page

			let params = {
				page_size: 8,
				thread_id: this.$route.params.thread
			}

			if (page) {
				params.page = page
			}

			API.Forums.Posts
			.query(params)
			.then(this.setPosts)
		},
		fetchThread: function () {
			API.Forums.Threads
			.get({ id: this.$route.params.thread })
			.then(this.setThread)
		},
		setThread: function ({ data }) {
			data._meta.breadcrumbs.shift()
			this.$set('thread', data)
		},
		setPosts: function ({ data }) {
			this.$set('posts', data.posts)
			this.$set('pagination', data._pagination)
			this.$set('fetched', true)
		}
	}
}
</script>

<style lang="sass" scoped>
.forum-thread
	&.loading
		height: 100px
		width: 100%
		display: flex
		justify-content: center
		align-items: center
</style>
