<template lang="pug">
modal-container(@click="containerClicked")
</template>

<script>
import { addAppBlocker, removeAppBlocker } from 'store/actions'

export default {
	vuex: {
		actions: {
			addAppBlocker,
			removeAppBlocker
		}
	},
	events: {
		'modal-close': function (modal) {
			this.close(modal)
		}
	},
	ready: function () {
		this.modals = []
	},
	methods: {
		open: function (modal) {
			modal.$parent = this

			this.addAppBlocker()

			modal.$mount().$appendTo(this.$el)

			this.modals.push(modal)

			if (modal.deferredResult) {
				return modal.deferredResult
			}
		},
		close: function (modal) {
			this.removeAppBlocker()
			modal.$destroy(true)
		},
		containerClicked: function (event) {
			if (event.target === this.$el) {
				let activeModal = this.modals[this.modals.length - 1]

				if (!activeModal.blocking) {
					activeModal.close()
				}
			}
		}
	}
}
</script>

<style lang="sass">
modal-container
	position: absolute
	top: 0
	left: 0
	height: 100%
	width: 100%
	display: flex
	justify-content: center
	align-items: center

	& > *
		margin: 10px
		z-index: 10000
</style>
