<template lang="pug">
div
	div.loading-spinner
	span.message {{ message }}
</template>

<script>
import ModalBase from './base'

export default ModalBase.extend({
	data: function () {
		return {
			message: ''
		}
	}
})
</script>

<style lang="sass" scoped>
@keyframes rotate
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

div
	font-size: 20px
	color: #DCDCE8
	text-transform: uppercase
	font-weight: bold
	letter-spacing: 1px
	animation: rotate 500ms infinite

.message
	font-size: 14px
</style>
