<template lang="pug">
auth-register(@submit.prevent="register")
	form
		a.logo(v-link="{ name: 'home' }")
		.field#handle
			label(for="handle") Handle
			input(type="text", v-model="form.handle", required)
		.field
			label(for="email") Email
			input(type="email", v-model="form.email", required)
		.field
			label(for="password") Password
			input(type="password", v-model="form.password", required)
		button(type="submit") Register
		small
			span.error {{ errorMessage }}
			span.error(v-for="error in errors") {{ error.path }}: {{ error.message }}
</template>

<script>
import API from 'api'
import { signin } from 'store/actions'
import { RequestError, ValidationError, AuthError } from 'api/errors'
import { ModalService } from 'site/shared/modals'
import LoadingModal from 'site/shared/modals/loading'

export default {
	data: () => {
		return {
			errors: null,
			errorMessage: null,
			form: {
				handle: '',
				email: '',
				password: ''
			}
		}
	},
	vuex: {
		actions: {
			signin
		}
	},
	methods: {
		register: function () {
			this.errors = null
			this.errorMessage = null

			API.Users.save(this.form)
			.then(this.registerSuccess, this.failure)

			this.loadingModal = new LoadingModal()
			ModalService.open(this.loadingModal)
		},
		registerSuccess: function (data) {
			this.signin(this.form.handle, this.form.password, data.user)
			.then(this.signinSuccess, this.failure)
		},
		signinSuccess: function (data) {
			ModalService.close(this.loadingModal)
			this.$router.go({ path: '/' })
		},
		failure: function (err) {
			ModalService.close(this.loadingModal)

			if (err instanceof RequestError) {
				this.errorMessage = 'Something went wrong'
			}

			if (err instanceof AuthError) {
				this.errorMessage = 'Auto-Signin failed, try signing in manually?'
			}

			if (err instanceof ValidationError) {
				this.errors = err.errors
			}
		}
	}
}
</script>

<style lang="sass" scoped>
label
	margin-right: 5px

.error
	color: red
	text-transform: capitalize

@keyframes peeky-beeky-like
	0%
		top: 0px
	100%
		top: -78px

auth-register
	position: relative
	margin: auto
	display: block
	max-width: 300px
	text-align: center
	padding: 20px 20px 10px 20px
	border-radius: 3px
	background-color: #fff
	box-shadow: 0 0 100px 0 rgba(0,0,0,0.5)

	.logo
		position: absolute
		top: -78px
		left: 0
		text-align: center
		z-index: -1
		display: block
		background: url('~assets/images/logo.svg') center no-repeat
		background-size: 128px 128px
		height: 128px
		width: 100%
		animation: peeky-beeky-like 600ms

	img
		padding-bottom: 10px

	input
		padding: 5px
		display: block
		outline: none
		border: none
		margin-top: 10px
		color: #aaa
		text-align: center
		border-bottom: 1px solid #eee
		font-size: 18px
		font-family: "Titillium Web"

	small
		color: #BFBFBF
		font-size: 12px
		.spacer:after
			content: ' / '

		a
			color: #337AB7
			text-decoration: none

			&:hover
				text-decoration: underline

		.error
			color: red
			display: block

	input
		color: #666

	button
		font-family: inherit
		display: block
		color: #FFF
		border-radius: 4px
		margin-top: 10px
		padding: 6px
		outline: 0
		border: none
		width: 100%
		margin-top: 25px
		font-size: 15px
		margin-bottom: 8px
		text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2)
		background-color: #245580

	button:hover
		background-color: #265A88
		cursor: pointer
</style>
