<template lang="pug">
auth-register-success Congrats!
</template>

<script>
export default {}
</script>

<style lang="sass" scoped>
@keyframes peeky-beeky-like
	0%
		top: 0px
	100%
		top: -78px

auth-register-success
	position: relative
	margin: auto
	display: block
	max-width: 300px
	text-align: center
	padding: 20px 20px 10px 20px
	border-radius: 3px
	background-color: #fff
	box-shadow: 0 0 100px 0 rgba(0,0,0,0.5)

	.logo
		position: absolute
		top: -78px
		left: 0
		text-align: center
		z-index: -1
		display: block
		background: url('~assets/images/logo.svg') center no-repeat
		background-size: 128px 128px
		height: 128px
		width: 100%
		animation: peeky-beeky-like 600ms
</style>
