<template lang="pug">
.widget.widget-articles
	.article
		.head
			.title New WFX Website
			.date 00/12/16
		.content
			p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sit amet posuere enim, id varius turpis. Curabitur convallis et purus ac hendrerit. Ut ac metus ultrices dolor efficitur volutpat. Vivamus eget lectus feugiat, sollicitudin quam vel, aliquet erat. Vivamus ultricies rutrum tellus, sed gravida ligula eleifend nec. Ut eu posuere mauris. Curabitur id bibendum sem, et viverra ipsum. Praesent vel interdum arcu. Etiam nec quam neque.
	.article
		.head
			.title New WFX Website
			.date 00/12/16
		.content
			p Suspendisse condimentum non odio vitae pellentesque. Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque in ante varius, interdum nibh accumsan, rutrum orci. Donec gravida arcu at mauris posuere lacinia elementum nec lacus. Cras at enim vitae tellus consectetur finibus. Maecenas pharetra tempor quam, eu aliquam risus auctor vitae. Nulla facilisi. Quisque lobortis bibendum aliquet.
</template>

<script>
export default {}
</script>

<style lang="sass" scoped>
@import "./widget"

.widget-articles
	width: 600px
	padding: 20px
	font-weight: 200

	.head
		align-items: center
		display: flex
		width: 100%

	.title
		font-weight: 300
		width: 100%
		color: #3692BF
		font-size: 22px

	.date
		color: #3692BF
		font-size: 14px

	.content
		color: #33B9EF
		font-size: 15px
		font-weight: 300

		& > p
			margin: 2px 0 3px 0
</style>
