<template lang="pug">
.widget.widget-matches
	//.games
	.featured
		.featured-team
			.featured-title WhitefoxES
			img.featured-logo(src='https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/53/5326c401f07b70e5e90c2ab7f43829db73ad88d0_full.jpg')
		.featured-team
			.featured-title Wizard Mob
			img.featured-logo(src='https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/83/8319904f2eddf427a9159acc47fad6253312d92d_full.jpg')
	.list
		.list-item
			.list-team Whitefox
			.list-vs 00 - 99
			.list-team North E-Sports
		.list-item
			.list-team Whitefox
			.list-vs 16 - 00
			.list-team Everybody Else
		.list-item
			.list-team Whitefox
			.list-vs 16 - 00
			.list-team Everybody Else
		.list-item
			.list-team Whitefox
			.list-vs 16 - 00
			.list-team Everybody Else
</template>

<script>
export default {}
</script>

<style lang="sass" scoped>
@import "./widget"

.widget-matches
	flex: 0 0 auto
	width: 368px

	.games
		display: flex
		height: 25px
		box-shadow: 0px 0px 100px 20px #FF910E /* (LOL) box-shadow: 0px 0px 100px 20px rgb(88, 104, 215) */
		z-index: 1
		position: relative

	.featured
		height: 184px
		overflow: hidden
		font-size: 0
		position: relative

		&::after
			position: absolute
			z-index: 2
			top: 50%
			left: 50%
			margin-top: -40px
			margin-left: -40px
			height: 80px
			width: 80px
			content: 'VS'
			font-size: 35px
			line-height: 80px
			text-align: center
			color: white
			text-shadow: 0 0 30px white
			overflow: hidden
			border-radius: 80px

	.featured-logo
		margin-top: -2px
		margin-left: -2px
		width: 194px
		height: 194px
		filter: blur(2px)

	.featured-team
		width: 50%
		height: 184px
		display: inline-block
		position: relative

	.featured-title
		color: white
		font-size: 15px
		z-index: 2
		position: absolute
		top: 50%
		margin-top: -40px
		line-height: 80px
		height: 80px
		left: 0
		width: 100%
		text-align: center
		text-shadow: 2px 2px 5px black

	.featured-title::after
		position: absolute
		content: ''
		top: 50%
		left: 0
		z-index: -1
		margin-top: -40px
		height: 80px
		width: 100%
		background-color: rgba(0,0,0,0.4)
		filter: blur(2px)

	.list-item
		background: linear-gradient(0deg, #221E2C, #2C263B)
		border-top: 1px solid #191524
		height: 35px
		line-height: 35px
		color: #71A0DD
		display: flex
		text-shadow: 1px 1px 0 #000

	.list-vs
		text-align: center
		display: inline-block
		color: #FFF
		background: rgba(174, 174, 255, 0.05) none repeat scroll 0% 0%
		border-radius: 5px
		height: 25px
		line-height: 25px
		margin: 4px
		text-shadow: 0 0 5px #675695
		box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.22)
		width: 150px

	.list-team
		text-align: center
		width: 100%

	.list-team:first-child
		color: #B7AB6D
</style>
