.widget
	height: 0%
	margin: 10px
	overflow: hidden
	position: relative

	background: #123140//#221E2C
	border-radius: 3px
	box-shadow: 0 2px 2px -2px #060606

	font-size: 15px

.widget::after
	z-index: 2
	content: ''
	top: 0
	left: 0
	position: absolute
	width: 100%
	height: 100%
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.05) inset
	pointer-events: none
