@font-face
	font-family: 'Titillium Web'
	font-style: normal
	font-weight: 200
	src: local("Titillium WebThin"), local("TitilliumWeb-Thin"), url("/static/fonts/titillium-web-thin.woff2") format("woff2")


@font-face
	font-family: 'Titillium Web'
	font-style: normal
	font-weight: 300
	src: local("Titillium WebLight"), local("TitilliumWeb-Light"), url("/static/fonts/titillium-web-light.woff2") format("woff2")


@font-face
	font-family: 'Titillium Web'
	font-style: normal
	font-weight: 400
	src: local("Titillium Web"), local("TitilliumWeb-Regular"), url("/static/fonts/titillium-web-regular.woff2") format("woff2")


@font-face
	font-family: 'Titillium Web'
	font-style: normal
	font-weight: 600
	src: local("Titillium WebSemiBold"), local("TitilliumWeb-SemiBold"), url("/static/fonts/titillium-web-semibold.woff2") format("woff2")
