<template lang="pug">
#thread-modal
	//.title {{ context.editingNew ? "Create New Post" : "Editing Post" }}
	.head.focused
		//(:src="post.author_avatar")
		img.avatar(src="/static/img/avatar_avitex.jpg")
		.details
			span.handle avitex
				span.suffix OP, ADMIN
			span.timestamp Yesterday
			span.stats
				span.tag +9999 thanks
	.content
		.preview asdasd
		textarea
	.footer
		.btn(@click="close") Cancel
		// {{ context.editingNew ? "Submit Changes" : "Post" }}
		.btn.primary Post
</template>

<script>
import { ModalBase } from 'site/shared/modals'

export default ModalBase.extend({

})
</script>

<style lang="sass" scoped>
@import "./post-head"

#thread-modal
	display: block
	border-radius: 3px
	background: white
	max-width: 700px
	width: 100%
</style>
