<template lang="pug">
site-home
	widget-articles
	widget-matches
</template>

<script>
import WidgetArticles from './shared/articles'
import WidgetMatches from './shared/matches'

export default {
	components: {
		WidgetArticles,
		WidgetMatches
	}
}
</script>

<style lang="sass" scoped>
site-home
	width: 100%
	display: flex
	justify-content: center
</style>
