<template lang="pug">
.servers
	//.server-bar
		.inner
			input(class="search" type="text" placeholder="SEARCH SERVERS...")
	.content
		.server-list
			server-item
			server-item
			server-item
			server-item
			server-item
			server-item
</template>

<script>
import ServerItem from './server'

export default {
	components: {
		ServerItem
	}
}
</script>


<style lang="sass" scoped>
.servers
	overflow: hidden
	width: 100%
	min-height: 100%
	background: #f8f8f8

.search
	font-size: 15px
	height: 25px
	border: none
	padding: 0 5px
	border-bottom: 1px dotted #E6E6E6
	letter-spacing: 1px
	font-size: 12px

	&:focus
		outline: 0

.inner
	width: 100%
	max-width: 1170px
	display: flex
	align-items: center
	padding: 0 40px

.server-bar
	font-size: 15px
	height: 60px
	width: 100%
	background: #fff
	display: flex
	justify-content: center
	box-shadow: 0 0 20px 0 #eee

.content
	padding: 20px
	height: 100%
	display: flex
	justify-content: center
	text-align: center

.content > *
	width: 100%
	max-width: 1170px

server-item
	margin-bottom: 15px
	margin-left: 20px

</style>
