<template lang="pug">
server-item
	.head
		.text
			.title BHOP Server
			.description Counter-Strike Global Offensive
			.openness Public
		.stats
			canvas.sparkline(height='40', width='300')
			span.players 24 players in the last 2 weeks
	.body Community BHOP server open to all
	.tools
		button JOIN
		button.donate DONATE
</template>

<script>
import sparkline from 'library/sparkline'

export default {
	ready: function () {
		let arr = []
		let movingAverage = 0

		let $sparkline = this.$el.querySelector('.sparkline')

		for (let i = 0; i < 48; i++) {
			movingAverage = (movingAverage + Math.round(Math.random() * 40)) / 2
			arr.push(movingAverage)
		}

		sparkline($sparkline, arr)

		setInterval(function () {
			arr.shift()
			movingAverage = (movingAverage + Math.round(Math.random() * 40)) / 2
			arr.push(movingAverage)
			sparkline($sparkline, arr)
		}, 2000)
	}
}
</script>

<style lang="sass" scoped>
server-item
	text-align: left
	width: 300px
	display: inline-block
	overflow: hidden
	border-radius: 3px
	border-bottom: 1px solid #dbdbdb
	background: #27aae1

.head
	background: url('/static/img/dust2.jpg') center center
	background-size: cover

	height: 100px
	padding: 10px
	color: white
	text-transform: uppercase
	position: relative

	text-shadow: 0 1px 0 #37355F

	&:before
		content: ''
		background: radial-gradient(120px at 50% -50%, #7662AD 0%, #312946 200%)
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 100%
		opacity: 0.9

.text
	position: relative

.title
	font-size: 15px
	font-weight: bold

.description
	font-size: 12px

.sparkline
	opacity: 0.5
	z-index: 0
	bottom: 0
	position: absolute
	left: 0

.players
	position: relative
	z-index: 1

.openness
	font-size: 11px

.stats
	left: 0
	bottom: 0
	position: absolute
	font-size: 10px
	padding: 0 7px
	height: 18px
	text-align: right
	width: 100%
	color: #E3E1EF

.body, .tools
	font-size: 13px
	padding: 10px
	background: white

button
	margin: 0
	margin-right: 7px
	min-width: 70px
	padding: 3px 8px
	border-radius: 3px
	font-size: 10px
	font-family: inherit
	border: none
	color: white
	background: #4CBAE8

button.donate
	background: #87CC8D

button:hover
	cursor: pointer
	opacity: 0.7
</style>
