<template lang="pug">
forum-pagination(v-show="pagination.total_pages > 1")
	a.prev(v-if="currentPage > 1" , v-on:click="page(currentPage - 1)")

	template(v-for="n in pagination.total_pages")
		a.page.current(v-if="(n + 1) == currentPage") {{ n + 1 }}
		a.page(v-if="(n + 1) != currentPage && n > 0", v-on:click="page(n + 1)") {{ n + 1 }}
		a.page(v-if="(n + 1) != currentPage && n == 0", v-on:click="page(1)") 1

	a.next(v-if="currentPage < pagination.total_pages", v-on:click="page(currentPage + 1)")
</template>
<script>
export default {
	props: ['pagination'],

	computed: {
		currentPage: function () {
			return window.parseInt(this.$route.params.page || 1)
		}
	},

	methods: {
		page: function (page) {
			let params = this.$route.params

			if (typeof params.category === 'undefined') {
				params.category = 0
			}

			if (page === 1) {
				delete params.page
				this.$router.go({ name: this.$route.name.replace('-page', ''), params: params })
			} else {
				params.page = page
				this.$router.go({ name: `${this.$route.name.replace('-page', '')}-page`, params: params })
			}
		}
	}
}
</script>

<style lang="sass" scoped>
forum-pagination
	margin-top: 15px
	opacity: 0.5
	display: flex
	justify-content: center
	margin-bottom: 20px

	&:hover
		opacity: 1

	.page,
	.next,
	.prev
		height: 30px
		line-height: 30px
		color: #666
		padding: 0 11px
		background: white
		display: inline-block

		&:first-child
			border-radius: 3px 0 0 3px
		&:last-child
			border-radius: 0 3px 3px 0

		&.current
			color: white
			background: #AEB6E9

	.next,
	.prev
		line-height: 26px
		color: white
		background: #54ABD7
		opacity: 1


	.prev::after
		font-size: 12px
		font-family: FontAwesome
		content: '\f060'

	.next::after
		font-size: 12px
		font-family: FontAwesome
		content: '\f061'

	.page:hover,
	.next:hover,
	.prev:hover
		opacity: 0.6
		cursor: pointer

</style>
