<template lang="pug">
#app-container
	#app
		router-view
	modal-container(v-ref:modalcontainer, v-show="!appFocused")
</template>

<script>
import store from 'store'
import isMobile from 'is-mobile'
import Velocity from 'velocity-animate'
import { appFocused } from 'store/getters'
import { ModalService, ModalContainer } from 'site/shared/modals'

export default {
	store,
	components: {
		ModalContainer
	},
	ready: function () {
		ModalService.registerContainer(this.$refs.modalcontainer)
	},
	vuex: {
		getters: {
			appFocused
		}
	},
	watch: {
		appFocused: function (focused) {
			let changes = {}
			if (focused) {
				changes.opacity = 1
				if (!isMobile()) {
					changes.blur = 0
					changes.scaleX = 1
					changes.scaleY = 1
					changes.translateY = 0
				}
			} else {
				changes.opacity = 0.5
				if (!isMobile()) {
					changes.blur = '5px'
					changes.scaleX = 1.01
					changes.scaleY = 1.01
					changes.translateY = '-5px'
				}
			}
			Velocity.animate(this.$el.querySelector('#app'), changes, 50)
		}
	}
}
</script>

<style lang="sass" src="assets/styles/app.sass"></style>
<style lang="sass" scoped>
#app-container
	position: relative
	height: 100%
	width: 100%

#app
	width: 100%
	height: 100%
	display: block
	background-color: #071419
	background-image: url("assets/images/bg.jpg")
	background-repeat: no-repeat
	background-position: top center
	transition: transform 100ms, filter 200ms, opacity 200ms

.app-inner
	position: relative
	display: block
	height: 100%
</style>
