@import "typography/font-awesome"
@import "typography/titillium-web"

html,
body
	width: 100%
	height: 100%
	min-height: 100%
	margin: 0
	padding: 0
	font-family: 'Titillium Web'
	background-color: #221e2c

body
	overflow-y: scroll
	overflow-x: hidden

*
	box-sizing: border-box

.loading-spinner::before
	animation: rotate infinite 500ms
	font-family: FontAwesome
	content: '\f110'

.util-disable-scroll
	overflow: hidden

.util-scrollbar-measure
	position: absolute
	top: -9999px
	width: 50px
	height: 50px
	overflow: scroll
