<template lang="pug">
forum-post
	.head
		img.avatar(
			:src="author_avatar"
		)
		.details
			span.handle {{ post.author_handle }}
				span.suffix  OP, ADMIN
			span.timestamp {{ timestamp }}
			span.stats
				span.tag +9999 thanks
	.content {{ post.body }}
	.footer
		a.tool.tool--edit
		a.tool.tool--delete
</template>

<script>
import timeFromNow from 'library/time-from-now'

export default {
	props: ['post'],

	data: function () {
		return {
			author_avatar: null,
			now: Date.now()
		}
	},
	computed: {
		timestamp: {
			get: function () {
				return timeFromNow(this.post.created, this.$data.now)
			}
		}
	},
	beforeDestroy: function () {
		window.clearInterval(this._ticker)
	},
	ready: function () {
		let self = this

		this._ticker = window.setInterval(function () {
			self.$data.now = Date.now()
		}, 1000)

		this.$set('author_avatar', `/static/img/avatar_${this.post.author_handle}.jpg`)
	}
}
</script>

<style lang="sass" scoped>
@import "./post-head"
forum-post
	display: block
	position: relative
	color: #666
	font-size: 14px
	margin: 25px 20px

	overflow: hidden
	border-radius: 3px

	border: 1px solid #ececec
	border-top: none
	border-bottom: 1px solid #dbdbdb
	background: white

	.content
		position: relative
		padding: 10px 20px 15px 20px

	.footer
		font-size: 17px
		border-top: 1px solid #e6e6e6
		background: #F6F7F8
		height: 30px
		padding: 0 12px

		display: flex
		align-items: center
		justify-content: flex-end

	.tool
		text-shadow: 1px 1px 0 white
		color: #999
		margin-left: 8px
		font-family: FontAwesome

		&:hover
			opacity: 0.8
			cursor: pointer

		&--edit
			&::after
				content: '\f044'

		&--delete
			color: #e09393
			&::after
				content: '\f014'
</style>
