<template lang="pug">
#post-modal
	//.title {{ context.editingNew ? "Create New Post" : "Editing Post" }}
	.head.focused
		//(:src="post.author_avatar")
		img.avatar(src="/static/img/avatar_avitex.jpg")
		.details
			span.handle avitex
				span.suffix OP, ADMIN
			span.timestamp Yesterday
			span.stats
				span.tag +9999 thanks
	.content
		.preview asdasd
		textarea
	.footer
		.btn(@click="close") Cancel
		// {{ context.editingNew ? "Submit Changes" : "Post" }}
		.btn.primary Post
</template>

<script>
import { ModalBase } from 'site/shared/modals'

export default ModalBase.extend({})
</script>

<style lang="sass" scoped>
@import "./post-head"

#post-modal
	display: block
	border-radius: 3px
	background: white
	max-width: 700px
	width: 100%

	.title
		color: #2E2E2E
		text-align: center
		font-weight: bold
		margin-top: 10px

	.content
		font-size: 14px
		padding: 15px

	.preview
		padding: 0 10px
		border: 1px dashed #E6E6E6
		margin-bottom: 10px

	textarea
		outline: none
		box-shadow: none
		padding: 10px
		margin: 0
		display: block
		width: 100%
		resize: none
		height: 200px

		border-radius: 3px

		border: 1px solid #E6E6E6

	.footer
		padding: 0 10px
		text-align: right
		height: 40px
		border-top: 1px solid #E6E6E6
		background: #F6F7F8

	.btn
		padding: 3px 10px
		text-align: center
		color: white
		font-size: 12px
		font-weight: bold
		border-radius: 4px
		background-color: #7A8F99
		margin-top: 7px
		margin-left: 5px
		display: inline-block
		text-transform: none

		&:hover
			cursor: pointer
			background-color: #98ADB7

		&.primary
			background-color: #27aae1

		&.primary.disabled
			background-color: #A8C0CB

		&:hover.primary
			background-color: #38C4FF
</style>
