.head
	display: table
	font-size: 15px
	height: 20px
	width: 100%
	padding: 0 10px
	padding-top: 10px

	.details
		font-size: 0
		width: 100%

	.avatar, .details
		display: table-cell
		vertical-align: top

	.handle, .stats
		padding-left: 8px

	.avatar, .handle, .timestamp
		line-height: 20px
		height: 20px

	.avatar
		height: 24px
		border-radius: 13px

	.suffix
		margin-left: 5px
		color: #666
		font-size: 12px
		font-weight: normal

	.handle
		height: 24px
		line-height: 24px
		font-size: 15px
		display: inline-block
		color: #2e2e2e
		font-weight: bold

	.timestamp
		font-size: 15px
		display: inline-block
		float: right
		color: #9e9e9e
		text-align: right

	.stats
		display: block
		height: 18px
		line-height: 18px
		margin-top: -25px
		opacity: 0
		color: #777
		font-size: 0


	.tag
		display: inline-block
		padding: 0 3px
		height: 13px
		vertical-align: middle
		border-radius: 3px
		line-height: 13px
		background: #B1D0F9
		text-transform: uppercase
		font-weight: bold
		font-size: 9px
		color: white

	&.focused
		height: 36px

		.avatar, .handle, .timestamp
			line-height: 18px
			height: 18px

		.avatar
			width: 36px
			height: 36px
			border-radius: 3px

		.stats
			opacity: 1
			margin-top: 0
