<template lang="pug">
.site
	canvas.snow
	action-bar
	head-nav
	.site-inner
		router-view
	footer-bar
</template>

<script>
import isMobile from 'is-mobile'

import HeadNav from '../head-nav'
import ActionBar from '../action-bar'
import FooterBar from '../footer-bar'

export default {
	components: {
		ActionBar,
		HeadNav,
		FooterBar
	},

	ready: function () {
		if (isMobile()) {
			return
		}
		// canvas init
		let canvas = this.$el.querySelector('.snow')
		let ctx = canvas.getContext('2d')

		// canvas dimensions
		let W = window.innerWidth
		let H = window.innerHeight

		// snowflake particles
		let mp = 200 // max particles
		let particles = []
		for (let i = 0; i < mp; i++) {
			particles.push({
				x: Math.random() * W, // x-coordinate
				y: Math.random() * H, // y-coordinate
				r: Math.random() * 2, // radius
				d: Math.random() * mp // density
			})
		}

		// Lets draw the flakes
		function draw () {
			W = window.innerWidth
			H = window.innerHeight

			canvas.height = H
			canvas.width = W

			ctx.clearRect(0, 0, W, H)

			ctx.fillStyle = 'rgba(255, 255, 255, 0.8)'
			ctx.beginPath()
			for (let i = 0; i < mp; i++) {
				let p = particles[i]
				ctx.moveTo(p.x, p.y)
				ctx.arc(p.x, p.y, p.r, 0, Math.PI * 2, true)
			}
			ctx.fill()
			update()
			window.requestAnimationFrame(draw)
		}

		// Function to move the snowflakes
		// angle will be an ongoing incremental flag. Sin and Cos functions will be applied to it to create vertical and horizontal movements of the flakes
		let angle = 0
		function update () {
			angle += 0.01
			for (let i = 0; i < mp; i++) {
				let p = particles[i]
				// Updating X and Y coordinates
				// We will add 1 to the cos function to prevent negative values which will lead flakes to move upwards
				// Every particle has its own density which can be used to make the downward movement different for each flake
				// Lets make it more random by adding in the radius
				p.y += (Math.cos(angle + p.d) + 1 + p.r / 2 * 0.5)
				p.x += (Math.sin(angle) * 2 * 0.5)

				// Sending flakes back from the top when it exits
				// Lets make it a bit more organic and let flakes enter from the left and right also.
				if (p.x > W + 5 || p.x < -5 || p.y > H) {
					if (i % 3 > 0) {
						// 66.67% of the flakes
						particles[i] = {x: Math.random() * W, y: -10, r: p.r, d: p.d}
					} else {
						// If the flake is exitting from the right
						if (Math.sin(angle) > 0) {
							// Enter from the left
							particles[i] = {x: -5, y: Math.random() * H, r: p.r, d: p.d}
						} else {
							// Enter from the right
							particles[i] = {x: W + 5, y: Math.random() * H, r: p.r, d: p.d}
						}
					}
				}
			}
		}

		// animation loop
		draw()
	}
}
</script>

<style lang="sass" scoped>
.site
	position: relative
	display: flex
	flex-direction: column
	padding-top: 40px
	min-height: 100%

.snow
	position: absolute
	top: 0
	left: 0

head-nav, .site-inner, footer-bar
	z-index: 1

.site-inner
	flex: 1 0 auto
	display: flex
	width: 100%
	min-height: 100%

// Hack for IE 11
_:-ms-fullscreen, :root .site
	height: 100%

@keyframes fx-glow
	0%
		background-position: 0px 0px, 0px 0px, 0px 0px
	100%
		background-position: 500px 1000px, 400px 400px, 300px 300px
</style>
