<template lang="pug">
.center-box
	router-view
</template>

<script>
export default {}
</script>

<style lang="sass" scoped>
.center-box
	z-index: 1
	position: relative
	height: 100%
	width: 100%
	display: flex
	justify-content: center
	align-items: center
</style>
